.movieContainer {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: -3;

    width:80%;
    margin: auto;

    .movieHeader {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 40px;

      span {
        font-size: 2rem;
      }

      input {
        padding: 20px;
        font-size: 1.2rem;
        border-radius: 15px;
        border: 0;
        margin: 20px;
      }
    }

    .choosenButtons {
      width: 400px;
      display: flex;
      justify-content: space-between;
      margin: 50px;

      button {
        font-size: 1.5rem;

        background: #0058b5;
        color:#e2e2e2;

        border: 0;
        border-radius:20px;

        padding: 15px 40px;
      }
    }

    .movieContent {

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;

      .card {
        width: 200px;
        border-radius: 15px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        img {
          width:auto;
          border-radius: 15px;

          &:hover {
            opacity: 0.5;
                    transition: 0.5s;
          }
        }

        .no_picture {
          width: 120px;
          margin: auto;
        }
      }

        app-modal {
          .close {
            display:block;
          }
        }

        .pagination {
          position: absolute;
          bottom: 0;
          margin: -70px;
          button{
            padding: 20px;
            border: 0;
            background: rgb(21, 66, 163);
            color: #e2e2e2;
            cursor: pointer;

            &:first-child {
              border-radius: 20px 0 0 20px;
            }

            &:last-child {
              border-radius: 0 20px 20px 0;
            }
          }

          span {
            padding: 15px 20px;
            border: 1px solid white;
          }
        }
    }
}
